@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Public Sans';
}
/* background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%)); */

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
    padding-top: 80px;
    min-height: 110vh;
    position: relative;
    z-index: 1;
}

.attribution {
    font-size: 11px;
    text-align: center; 
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.attribution a { color: hsl(228, 45%, 44%); }

nav {
    width: 100%;
    height: fit-content;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #fff;
    z-index: 10;
    top: 0;
    left: 0;
}

nav .column1 {
    width: 33.23%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

nav .column1 .burger {
    display: none;
}

nav .column2 {
    width: 66.67%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

nav .column2 .navLinks {
    display: flex;
    align-items: center;
    height: 80px;
    list-style: none;
}

nav .column2 .navLink {
    margin: 0 10px;
    color: rgba(0, 0, 0, 0.5);
    transition: all 1s;
    --width: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    transition: all 1s;
}

nav .column2 .navLink:hover {
    font-weight: 900;
    color: #000;
    --width: 100%;
}

nav .column2 .navLink .line {
    width: var(--width);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    transition: all 1s;
}

.button {
    padding: 10px 20px;
    border-radius: 30px;
    border: 0px solid;
    font-weight: 600;
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: #fff;
    cursor: pointer;
    transition: opacity 1s;
}

.button:hover {
    opacity: 0.6;
}

#intro {
    display: flex;
    padding: 400px 50px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: visible;
}

#intro .column1 {
    width: 50%;
}

#intro .column2 {
    width: 50%;
    position: relative;
    z-index: 1;
}

#intro .column2 .bg {
    z-index: 2;
    position: absolute;
    top: -600px;
    right: -550px;
}

#intro .column2 .phone {
    z-index: 3;
    position: absolute;
    top: -550px;
    right: -100px;
} 