@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100vh;
    max-height: 100vh;
}

.attribution { font-size: 11px; text-align: center; position: fixed; left: 50%; bottom: 20px; transform: translateX(-50%);}
.attribution a { color: hsl(228, 45%, 44%); }

.map {
    width: 100vw;
    height: 100%;
    position: relative;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    background-image: url('images/pattern-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header .title {
    margin: 20px auto;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

header form {
    margin: 0 auto;
    margin-bottom: -15px;
    max-width: 500px;
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
}

header form div {
    display: flex;
    align-content: center;
    justify-content: center;
}

header form .loading {
    margin: 10px auto;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 575px) {
    header form {
        width: 80vw;
    }
}

header form input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 1.3rem;
    outline: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 0px solid;
    color: hsl(0, 0%, 17%);
    font-weight: 900;
}

header form button[type="submit"] {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 0px!important;
    outline: none;
    background-color: hsl(0, 0%, 17%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0px solid;
    cursor: pointer;
}

header form button[type="submit"]:hover {
    background-color: hsla(0, 0%, 17%, 0.5);
}

header form input[type="text"]::placeholder {
    font-weight: 400!important;
}

header .main {
    display: flex;
    margin: 0 auto;
    background-color: #fff;
    justify-content: center;
    align-content: center;
    padding: 20px;
    transform: translateY(50%);
    border-radius: 20px;
    z-index: 10;
    width: 700px;
}

@media (max-width: 750px) {
    body {
        max-height: none;
        min-height: 1000px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    header form {
        margin-bottom: -150px;
    }

    .map {
        height: 1000px;
    }

    header .main {
       width: 90vw!important;
       flex-direction: column!important;
       justify-content: center!important;
    }

    header form .loading {
        margin-bottom: 50px;
    }

    header .main .data {
        width: 100%!important;
        text-align: center;
    }

    header .main .data .line {
        display: none!important;
    }
} 

header .main .data {
    padding:  10px 20px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    width: 25%;
    position: relative;
}

header .main .data .line {
    width: 2px;
    height: 60%!important;
    background-color: rgba(0, 0, 0, 0.2);
    top: 50%;
    transform: translateY(-50%);
}

header .main .data span {
    margin-bottom: 10px;
    font-weight: 700;
    color: rgba(0,0,0, 0.4);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

header .main .data h3 {
    width: 100%;
    font-size: 1.6rem;
    color: hsl(0, 0%, 17%);
    word-break: break-all;
    line-break: strict;
}

header .main .data h3 span {
    font-size: 1.6rem;
    color: hsl(0, 0%, 17%);
}

header .main .data:nth-child(1) .line {
    position: absolute;
    right: 0;
}

header .main .data:nth-child(2) .line {
    position: absolute;
    right: 0;
}

header .main .data:nth-child(3) .line {
    position: absolute;
    left: 0;
    width: 0px;
}

header .main .data:nth-child(4) .line {
    position: absolute;
    left: 0;
}